examples/Example 10 - catch third-party logs.json
[{"id":"be5e2f68.e49e2","type":"inject","z":"5f5a22f0.b7ab2c","name":"Testnode: A","props":[{"p":"payload"},{"p":"level","v":"INFO","vt":"str"},{"p":"location","v":"Testnode_A","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello World","payloadType":"str","x":150,"y":200,"wires":[["b0a3c4ae.4ceee8"]]},{"id":"b175621f.ed3ed","type":"catch","z":"5f5a22f0.b7ab2c","name":"","scope":null,"uncaught":false,"x":120,"y":360,"wires":[["e90e0fca.d5d58"]]},{"id":"e90e0fca.d5d58","type":"change","z":"5f5a22f0.b7ab2c","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"error.message","tot":"msg"},{"t":"move","p":"location","pt":"msg","to":"error.source.id","tot":"msg"},{"t":"set","p":"level","pt":"msg","to":"ERROR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":360,"wires":[["b0a3c4ae.4ceee8"]]},{"id":"4aa0983d.caaee8","type":"debug","z":"5f5a22f0.b7ab2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":520,"wires":[]},{"id":"9610315a.65e72","type":"t-daks log","z":"5f5a22f0.b7ab2c","name":"","log":"","console":false,"x":140,"y":520,"wires":[["4aa0983d.caaee8"]]},{"id":"b0a3c4ae.4ceee8","type":"t-daks log-input","z":"5f5a22f0.b7ab2c","name":"","log":"","message":"","level":"INFO","location":"","message_S":"msg","level_S":"msg","location_S":"msg","x":870,"y":240,"wires":[]},{"id":"709d3aaf.4baff4","type":"comment","z":"5f5a22f0.b7ab2c","name":"virtual Inputs for tests","info":"","x":160,"y":160,"wires":[]},{"id":"48b90c4c.5c78c4","type":"comment","z":"5f5a22f0.b7ab2c","name":"catch errors from specific or all nodes","info":"","x":210,"y":320,"wires":[]},{"id":"5993eeb1.36d3c","type":"comment","z":"5f5a22f0.b7ab2c","name":"prepare message for logging","info":"","x":520,"y":320,"wires":[]},{"id":"383a13ff.88f35c","type":"comment","z":"5f5a22f0.b7ab2c","name":"Central Logging output for logging systems","info":"","x":220,"y":480,"wires":[]},{"id":"cf357fc2.7c134","type":"comment","z":"5f5a22f0.b7ab2c","name":"virtual Output","info":"","x":490,"y":480,"wires":[]},{"id":"1b774757.79ade9","type":"comment","z":"5f5a22f0.b7ab2c","name":"collect third-party logs into the tetronik log system","info":"","x":920,"y":200,"wires":[]},{"id":"49c775f0.5e8cac","type":"inject","z":"5f5a22f0.b7ab2c","name":"Testnode: B","props":[{"p":"payload"},{"p":"level","v":"WARNING","vt":"str"},{"p":"location","v":"Testnode_B","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello tetronik","payloadType":"str","x":150,"y":240,"wires":[["b0a3c4ae.4ceee8"]]},{"id":"1803dad6.31f315","type":"comment","z":"5f5a22f0.b7ab2c","name":"Catch Third-Party logs Example","info":"","x":190,"y":60,"wires":[]},{"id":"201f6a7a.caf746","type":"comment","z":"5f5a22f0.b7ab2c","name":"Description in HERE","info":"This example shows different \"inputs\" which are channelled into a \"Custom Central Logging Input\" node to be used with the tetronik logging system.","x":430,"y":60,"wires":[]},{"id":"87e15b80.740e48","type":"comment","z":"5f5a22f0.b7ab2c","name":"Use-Case description in HERE","info":"The \"Custom Central Logging Input\" node can be used in a variety of situations. There is no need to use this node, but it may make sense in a larger environment to connect to this node, since the \"Central Logging\" node is used for central log output of tetronik nodes. With this node, entries can be bundled and sent to one or more logging instances. In order to avoid having to establish a further log server connection, \"third-party\" logs can be included in the tetronik log system to provide a better overview of the nodes.","x":670,"y":60,"wires":[]}]