examples/Example 08 - OPC-UA.json
[{"id":"f74c2fc5.ea50f","type":"inject","z":"64d65b9d.2453a4","name":"Write UInt32 \"5\" to: ns=2;i=4","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":460,"y":200,"wires":[["81084c34.bf0c"]]},{"id":"25eac5d2.f2577a","type":"inject","z":"64d65b9d.2453a4","name":"Subscribe: ns=1;s=TestVar","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":450,"y":300,"wires":[["c5c4f7f6.b36228"]]},{"id":"4bae2732.c59ac8","type":"inject","z":"64d65b9d.2453a4","name":"Unsubscribe: ns=1;s=TestVar","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":460,"y":340,"wires":[["32092a1e.07e746"]]},{"id":"81084c34.bf0c","type":"OpcUa-Item","z":"64d65b9d.2453a4","item":"ns=2;i=4","datatype":"UInt32","value":"","name":"","x":680,"y":200,"wires":[["42753ee6.ccc42"]]},{"id":"c5c4f7f6.b36228","type":"OpcUa-Event","z":"64d65b9d.2453a4","root":"ns=1;s=TestVar","eventtype":"i=2041","name":"","x":680,"y":300,"wires":[["8d1e3b94.1825c8"]]},{"id":"8d1e3b94.1825c8","type":"OpcUa-Client","z":"64d65b9d.2453a4","endpoint":"","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","securitymode":"None","securitypolicy":"None","name":"","x":860,"y":300,"wires":[["5318f91b.4e5a18"]]},{"id":"53561437.c6a21c","type":"debug","z":"64d65b9d.2453a4","name":"Write STATUS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1080,"y":200,"wires":[]},{"id":"5318f91b.4e5a18","type":"debug","z":"64d65b9d.2453a4","name":"Message IN","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":300,"wires":[]},{"id":"16e8b02e.35d1b","type":"debug","z":"64d65b9d.2453a4","name":"Unsubscribe STATUS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1100,"y":340,"wires":[]},{"id":"42753ee6.ccc42","type":"OpcUa-Client","z":"64d65b9d.2453a4","endpoint":"","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","securitymode":"None","securitypolicy":"None","name":"","x":860,"y":200,"wires":[["53561437.c6a21c"]]},{"id":"32092a1e.07e746","type":"OpcUa-Event","z":"64d65b9d.2453a4","root":"ns=1;s=TestVar","eventtype":"i=2041","name":"","x":680,"y":340,"wires":[["c5efdf6b.61f76"]]},{"id":"c5efdf6b.61f76","type":"OpcUa-Client","z":"64d65b9d.2453a4","endpoint":"","action":"unsubscribe","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","securitymode":"None","securitypolicy":"None","name":"","x":860,"y":340,"wires":[["16e8b02e.35d1b"]]},{"id":"5c364fb7.be385","type":"comment","z":"64d65b9d.2453a4","name":"connection","info":"","x":840,"y":160,"wires":[]},{"id":"2312c4b6.67e70c","type":"comment","z":"64d65b9d.2453a4","name":"connection","info":"","x":840,"y":260,"wires":[]},{"id":"329bed6a.b58432","type":"comment","z":"64d65b9d.2453a4","name":"set value","info":"","x":660,"y":160,"wires":[]},{"id":"af3a3099.6f7e","type":"comment","z":"64d65b9d.2453a4","name":"event definition","info":"","x":680,"y":260,"wires":[]},{"id":"aefb66e2.e75328","type":"comment","z":"64d65b9d.2453a4","name":"virtual Output","info":"","x":1070,"y":160,"wires":[]},{"id":"5d3bff01.5de42","type":"comment","z":"64d65b9d.2453a4","name":"virtual Output","info":"","x":1070,"y":260,"wires":[]},{"id":"844dd74d.fda268","type":"comment","z":"64d65b9d.2453a4","name":"virtual Input","info":"","x":410,"y":160,"wires":[]},{"id":"25c1808f.99569","type":"comment","z":"64d65b9d.2453a4","name":"virtual Input","info":"","x":410,"y":260,"wires":[]},{"id":"f42d8616.c19958","type":"comment","z":"64d65b9d.2453a4","name":"write value to OPC server","info":"","x":190,"y":200,"wires":[]},{"id":"bd026b46.b22c28","type":"comment","z":"64d65b9d.2453a4","name":"get values from OPC server","info":"","x":180,"y":260,"wires":[]},{"id":"fd8d117d.b5e25","type":"comment","z":"64d65b9d.2453a4","name":"subscribe node","info":"","x":220,"y":300,"wires":[]},{"id":"46084a59.edf534","type":"comment","z":"64d65b9d.2453a4","name":"unsubscribe node","info":"","x":210,"y":340,"wires":[]},{"id":"374a09dd.711cc6","type":"comment","z":"64d65b9d.2453a4","name":"OPC-UA Example","info":"","x":150,"y":60,"wires":[]},{"id":"8f47d9a5.809a18","type":"comment","z":"64d65b9d.2453a4","name":"Description in HERE","info":"This example shows a few OPC-UA inputs with following evaluation and a few outputs for status feedback.\n\nHint: You need \"node-red-contrib-opcua\" to be installed, to use this example.","x":350,"y":60,"wires":[]},{"id":"539023d7.e7ceec","type":"comment","z":"64d65b9d.2453a4","name":"Use-Case description in HERE","info":"This example just gives a small overview of the possibilities of OPC-UA. For example, it is possible to listen to temperatures and thus react to changes. Or other mechanisms in the building can set certain variables to an \"alarm value\" so that other programs (like NodeRed) can react. OPC-UA also offers the possibility of not only reading values but also writing them back. This allows a value to be confirmed on a separate variable, or to simply activate a status lamp.","x":590,"y":60,"wires":[]}]