examples/Example 02 - WAGO to ESPA-X.json
[{"id":"35f018aa.3ca648","type":"rbe","z":"97282588.14e178","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":550,"y":240,"wires":[["c35149ec.bc0338"]]},{"id":"4aa67a77.be1cd4","type":"rbe","z":"97282588.14e178","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":550,"y":280,"wires":[["ff2816e.3eb37e8"]]},{"id":"db5e2148.359a3","type":"rbe","z":"97282588.14e178","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":550,"y":320,"wires":[["7091b378.f3a99c"]]},{"id":"7c1372d.6a8878c","type":"rbe","z":"97282588.14e178","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":550,"y":360,"wires":[[]]},{"id":"85beccb2.bdaa6","type":"rbe","z":"97282588.14e178","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":550,"y":400,"wires":[[]]},{"id":"398cd378.ad470c","type":"rbe","z":"97282588.14e178","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":550,"y":440,"wires":[[]]},{"id":"8977b26b.026fc","type":"rbe","z":"97282588.14e178","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":550,"y":480,"wires":[[]]},{"id":"450ec5ec.a6ea8c","type":"rbe","z":"97282588.14e178","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":550,"y":520,"wires":[[]]},{"id":"59682d2a.c910d4","type":"switch","z":"97282588.14e178","name":"input true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":240,"wires":[["1c221720.1e0a19"]]},{"id":"374cda57.1d2c86","type":"switch","z":"97282588.14e178","name":"input true / false","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":440,"wires":[["10dfda0e.71bf96"],["506ed144.40e97"]]},{"id":"981d03ec.db6a1","type":"switch","z":"97282588.14e178","name":"input false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":340,"wires":[["949aa220.f71d5"]]},{"id":"c35149ec.bc0338","type":"t-daks event-id_start","z":"97282588.14e178","name":"","eventItem":"","x":800,"y":240,"wires":[["59682d2a.c910d4"]]},{"id":"ff2816e.3eb37e8","type":"t-daks event-id_start","z":"97282588.14e178","name":"","eventItem":"","x":800,"y":340,"wires":[["981d03ec.db6a1"]]},{"id":"7091b378.f3a99c","type":"t-daks event-id_start","z":"97282588.14e178","name":"","eventItem":"","x":800,"y":440,"wires":[["374cda57.1d2c86"]]},{"id":"d39b5b5a.1d1268","type":"comment","z":"97282588.14e178","name":"static EVENT-ID definition","info":"","x":850,"y":160,"wires":[]},{"id":"7e50bdbb.35b794","type":"comment","z":"97282588.14e178","name":"split input array","info":"","x":380,"y":160,"wires":[]},{"id":"3e057328.5f80fc","type":"comment","z":"97282588.14e178","name":"modbus interface","info":"","x":140,"y":160,"wires":[]},{"id":"aff5e9df.9018d8","type":"comment","z":"97282588.14e178","name":"only forward message","info":"","x":600,"y":160,"wires":[]},{"id":"5c59a19b.f68dc","type":"comment","z":"97282588.14e178","name":"on edge change","info":"","x":580,"y":200,"wires":[]},{"id":"e09d1026.81a63","type":"comment","z":"97282588.14e178","name":"brief evaluation","info":"","x":1060,"y":160,"wires":[]},{"id":"a8a22629.24f168","type":"comment","z":"97282588.14e178","name":"trigger on \"Logical 1\" on \"Port 1\"","info":"","x":1110,"y":200,"wires":[]},{"id":"6095b051.f4af2","type":"comment","z":"97282588.14e178","name":"trigger on \"Logical 0\" on \"Port 2\"","info":"","x":1110,"y":300,"wires":[]},{"id":"6a6b7145.4e9b","type":"comment","z":"97282588.14e178","name":"do different flows on \"Logical 1 and 0\" on \"Port 3\"","info":"","x":1160,"y":400,"wires":[]},{"id":"78c643a6.1dfd9c","type":"t-daks espax","z":"97282588.14e178","name":"","server":"","logging":"","x":1800,"y":380,"wires":[[],["1dfc4ed.f710eb1"]]},{"id":"1a854883.5d2d37","type":"t-daks log","z":"97282588.14e178","name":"","log":"","console":false,"x":800,"y":680,"wires":[["72b88bcb.f23024"]]},{"id":"a8b4ab96.466e78","type":"comment","z":"97282588.14e178","name":"Start Process on \"Logical 1\" on \"Port 1\"","info":"","x":1510,"y":200,"wires":[]},{"id":"dfa1aedb.40884","type":"comment","z":"97282588.14e178","name":"Stop Process on \"Logical 0\" on \"Port 2\"","info":"","x":1510,"y":300,"wires":[]},{"id":"21c572ae.7ed33e","type":"comment","z":"97282588.14e178","name":"Start Process on \"Logical 1\" on \"Port 3\"","info":"","x":1510,"y":400,"wires":[]},{"id":"b6cfc691.9ffbe8","type":"comment","z":"97282588.14e178","name":"Stop Process on \"Logical 0\" on \"Port 3\"","info":"","x":1510,"y":480,"wires":[]},{"id":"72b88bcb.f23024","type":"debug","z":"97282588.14e178","name":"Log-Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":680,"wires":[]},{"id":"a66770c4.7a58","type":"comment","z":"97282588.14e178","name":"Central loggin for tetronik Nodes","info":"","x":850,"y":640,"wires":[]},{"id":"ad8806f3.01a768","type":"comment","z":"97282588.14e178","name":"external database or logging interface","info":"","x":1170,"y":640,"wires":[]},{"id":"da2b81a3.afb91","type":"comment","z":"97282588.14e178","name":"ESPA-X connection","info":"","x":1830,"y":160,"wires":[]},{"id":"1dfc4ed.f710eb1","type":"debug","z":"97282588.14e178","name":"Queue-Warning","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":1980,"y":420,"wires":[]},{"id":"44d23bed.7d6db4","type":"Input Split","z":"97282588.14e178","name":"","inputProps":["payload.0","payload.1","payload.2","payload.3","payload.4","payload.5","payload.6","payload.7"],"outputs":8,"x":360,"y":380,"wires":[["35f018aa.3ca648"],["4aa67a77.be1cd4"],["db5e2148.359a3"],["7c1372d.6a8878c"],["85beccb2.bdaa6"],["398cd378.ad470c"],["8977b26b.026fc"],["450ec5ec.a6ea8c"]]},{"id":"259b58c1.915038","type":"modbus-read","z":"97282588.14e178","name":"Modbus TCP - WAGO","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"Input","adr":"0","quantity":"8","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":160,"y":380,"wires":[["44d23bed.7d6db4"],[]]},{"id":"bc2b9c4c.21016","type":"comment","z":"97282588.14e178","name":"WAGO (ModbusTCP) Example","info":"","x":190,"y":60,"wires":[]},{"id":"e2c7aaf4.74f828","type":"comment","z":"97282588.14e178","name":"Description in HERE","info":"This example shows a WAGO-ModbusTCP module with eight digital inputs on the input side, which are supposed to control different processes on the DAKS.<br>\nA process (call) is started when the status changes from LOW to HIGH at input 1 and a process is stopped when the status changes from HIGH to LOW at input 2.<br>\nAt input 3 a process is started with the help of a \"switch\" at HIGH and stopped if the state changes to LOW during process execution.\n\nHint: You need \"node-red-contrib-modbus\" and \"node-red-contrib-input-split\" to be installed, to use this example.","x":430,"y":60,"wires":[]},{"id":"9b9b598b.52e598","type":"comment","z":"97282588.14e178","name":"Use-Case description in HERE","info":"In this example different scenarios are possible. Digital/analog inputs are received from a WAGO-ModbusTCP module, processed/evaluated and a process is started at DAKS.The WAGO module can be connected to temperature sensors, pushbuttons/switches, doors or other building elements (e.g. for door monitoring, device monitoring, transport systems or assembly line monitoring) that need to start or stop a process. Modbus (or ModbusTCP) is the communication protocol for programmable logic controllers, which is used, for example, for actuators (e.g. relays for switching on electrical motors), electrical valves (e.g. for hydraulics or compressed air), but also modules for drive controllers (motion control, speed control with controlled acceleration or deceleration, stepper motor controllers).","x":670,"y":60,"wires":[]},{"id":"1c221720.1e0a19","type":"t-daks espax process-init","z":"97282588.14e178","name":"","logging":"e9b6f512.aa2498","action":"start","ptype":"single","number":"","conntype":"","calling_number":"","calling_name":"","message":"","ward":"","bed":"","signal":"Standard","delay":"0","attempts":"1","callback":"No","prio":"Standard","pr_details":"All","audio_id":"","max_age":"1","ncifno":"","cbckno":"","confirmation":"false","confirmation_key_0":"None","confirmation_key_1":"None","confirmation_key_2":"None","confirmation_key_3":"None","confirmation_key_4":"None","confirmation_key_5":"None","confirmation_key_6":"None","confirmation_key_7":"None","confirmation_key_8":"None","confirmation_key_9":"None","confirmation_label_0":"None","confirmation_label_1":"None","confirmation_label_2":"None","confirmation_label_3":"None","confirmation_label_4":"None","confirmation_label_5":"None","confirmation_label_6":"None","confirmation_label_7":"None","confirmation_label_8":"None","confirmation_label_9":"None","confirmation_ann":"","confirmation_text":"","cmd":"stop","mask":"All","reason":"Normal","ptype_S":"t","number_S":"t","conntype_S":"t","calling_number_S":"t","calling_name_S":"t","message_S":"t","ward_S":"t","bed_S":"t","signal_S":"t","delay_S":"t","attempts_S":"t","callback_S":"t","prio_S":"t","audio_id_S":"t","max_age_S":"t","ncifno_S":"t","cbckno_S":"t","confirmation_S":"t","mask_S":"t","reason_S":"t","x":1460,"y":240,"wires":[["78c643a6.1dfd9c"]]},{"id":"949aa220.f71d5","type":"t-daks espax process-init","z":"97282588.14e178","name":"","logging":"e9b6f512.aa2498","action":"stop","ptype":"single","number":"","conntype":"","calling_number":"","calling_name":"","message":"","ward":"","bed":"","signal":"Standard","delay":"0","attempts":"1","callback":"No","prio":"Standard","pr_details":"All","audio_id":"","max_age":"1","ncifno":"","cbckno":"","confirmation":"false","confirmation_key_0":"None","confirmation_key_1":"None","confirmation_key_2":"None","confirmation_key_3":"None","confirmation_key_4":"None","confirmation_key_5":"None","confirmation_key_6":"None","confirmation_key_7":"None","confirmation_key_8":"None","confirmation_key_9":"None","confirmation_label_0":"None","confirmation_label_1":"None","confirmation_label_2":"None","confirmation_label_3":"None","confirmation_label_4":"None","confirmation_label_5":"None","confirmation_label_6":"None","confirmation_label_7":"None","confirmation_label_8":"None","confirmation_label_9":"None","confirmation_ann":"","confirmation_text":"","cmd":"stop","mask":"All","reason":"Normal","ptype_S":"t","number_S":"t","conntype_S":"t","calling_number_S":"t","calling_name_S":"t","message_S":"t","ward_S":"t","bed_S":"t","signal_S":"t","delay_S":"t","attempts_S":"t","callback_S":"t","prio_S":"t","audio_id_S":"t","max_age_S":"t","ncifno_S":"t","cbckno_S":"t","confirmation_S":"t","mask_S":"t","reason_S":"t","x":1460,"y":340,"wires":[["78c643a6.1dfd9c"]]},{"id":"10dfda0e.71bf96","type":"t-daks espax process-init","z":"97282588.14e178","name":"","logging":"e9b6f512.aa2498","action":"start","ptype":"single","number":"","conntype":"","calling_number":"","calling_name":"","message":"","ward":"","bed":"","signal":"Standard","delay":"0","attempts":"1","callback":"No","prio":"Standard","pr_details":"All","audio_id":"","max_age":"1","ncifno":"","cbckno":"","confirmation":"false","confirmation_key_0":"None","confirmation_key_1":"None","confirmation_key_2":"None","confirmation_key_3":"None","confirmation_key_4":"None","confirmation_key_5":"None","confirmation_key_6":"None","confirmation_key_7":"None","confirmation_key_8":"None","confirmation_key_9":"None","confirmation_label_0":"None","confirmation_label_1":"None","confirmation_label_2":"None","confirmation_label_3":"None","confirmation_label_4":"None","confirmation_label_5":"None","confirmation_label_6":"None","confirmation_label_7":"None","confirmation_label_8":"None","confirmation_label_9":"None","confirmation_ann":"","confirmation_text":"","cmd":"stop","mask":"All","reason":"Normal","ptype_S":"t","number_S":"t","conntype_S":"t","calling_number_S":"t","calling_name_S":"t","message_S":"t","ward_S":"t","bed_S":"t","signal_S":"t","delay_S":"t","attempts_S":"t","callback_S":"t","prio_S":"t","audio_id_S":"t","max_age_S":"t","ncifno_S":"t","cbckno_S":"t","confirmation_S":"t","mask_S":"t","reason_S":"t","x":1460,"y":440,"wires":[["78c643a6.1dfd9c"]]},{"id":"506ed144.40e97","type":"t-daks espax process-init","z":"97282588.14e178","name":"","logging":"e9b6f512.aa2498","action":"stop","ptype":"single","number":"","conntype":"","calling_number":"","calling_name":"","message":"","ward":"","bed":"","signal":"Standard","delay":"0","attempts":"1","callback":"No","prio":"Standard","pr_details":"All","audio_id":"","max_age":"1","ncifno":"","cbckno":"","confirmation":"false","confirmation_key_0":"None","confirmation_key_1":"None","confirmation_key_2":"None","confirmation_key_3":"None","confirmation_key_4":"None","confirmation_key_5":"None","confirmation_key_6":"None","confirmation_key_7":"None","confirmation_key_8":"None","confirmation_key_9":"None","confirmation_label_0":"None","confirmation_label_1":"None","confirmation_label_2":"None","confirmation_label_3":"None","confirmation_label_4":"None","confirmation_label_5":"None","confirmation_label_6":"None","confirmation_label_7":"None","confirmation_label_8":"None","confirmation_label_9":"None","confirmation_ann":"","confirmation_text":"","cmd":"stop","mask":"All","reason":"Normal","ptype_S":"t","number_S":"t","conntype_S":"t","calling_number_S":"t","calling_name_S":"t","message_S":"t","ward_S":"t","bed_S":"t","signal_S":"t","delay_S":"t","attempts_S":"t","callback_S":"t","prio_S":"t","audio_id_S":"t","max_age_S":"t","ncifno_S":"t","cbckno_S":"t","confirmation_S":"t","mask_S":"t","reason_S":"t","x":1460,"y":520,"wires":[["78c643a6.1dfd9c"]]},{"id":"e9b6f512.aa2498","type":"t-daks log-connector","name":"Log-Connector"}]