examples/Example 01 - ESPA-X.json
[{"id":"4da07971.a43318","type":"inject","z":"1eccbebb.c5bb31","name":"START group call","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":580,"wires":[["339f168.82b0bea"]]},{"id":"ba290b2.915b1f8","type":"debug","z":"1eccbebb.c5bb31","name":"Queue-Warning","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":1220,"y":600,"wires":[]},{"id":"f8137f7c.2b57f","type":"debug","z":"1eccbebb.c5bb31","name":"Log-Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1370,"y":780,"wires":[]},{"id":"cfeab878.e671e8","type":"t-daks log","z":"1eccbebb.c5bb31","name":"","log":"","console":false,"x":1080,"y":780,"wires":[["f8137f7c.2b57f"]]},{"id":"530f22ca.9aecdc","type":"inject","z":"1eccbebb.c5bb31","name":"START call","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":440,"wires":[["fc44c108.a384f"]]},{"id":"1d575504.47ac4b","type":"inject","z":"1eccbebb.c5bb31","name":"STOP call","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":480,"wires":[["4cbf9d59.5a1b74"]]},{"id":"bb027dea.f9579","type":"inject","z":"1eccbebb.c5bb31","name":"STOP group call","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":620,"wires":[["556b9236.8647fc"]]},{"id":"540523e5.4caaec","type":"inject","z":"1eccbebb.c5bb31","name":"STOP call","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":340,"wires":[["1ca84198.71a18e"]]},{"id":"8c069ec6.77681","type":"inject","z":"1eccbebb.c5bb31","name":"START call","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":300,"wires":[["64a35844.e3d558"]]},{"id":"16deed9e.a39a42","type":"debug","z":"1eccbebb.c5bb31","name":"Confirmation - Group Call","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1630,"y":520,"wires":[]},{"id":"f984a4c6.bfb138","type":"debug","z":"1eccbebb.c5bb31","name":"Confirmation - Single Call","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1630,"y":480,"wires":[]},{"id":"fc033e26.b5fe9","type":"t-daks process-evaluation","z":"1eccbebb.c5bb31","name":"Process Evaluation - Connect group event here","eventItem":"","confirmation":true,"x":1320,"y":520,"wires":[["16deed9e.a39a42"]]},{"id":"7c4222f4.0f33ac","type":"t-daks espax","z":"1eccbebb.c5bb31","name":"","server":"","logging":"","x":980,"y":560,"wires":[["fc033e26.b5fe9","dca419b4.9ca518"],["ba290b2.915b1f8"]]},{"id":"961b4f51.960e","type":"comment","z":"1eccbebb.c5bb31","name":"Single call --without-- confirmation","info":"","x":200,"y":260,"wires":[]},{"id":"85638d50.793c5","type":"comment","z":"1eccbebb.c5bb31","name":"Single call --with-- confirmation","info":"","x":190,"y":400,"wires":[]},{"id":"d603418b.2110d","type":"comment","z":"1eccbebb.c5bb31","name":"group call --without-- confirmation","info":"","x":190,"y":540,"wires":[]},{"id":"814d8b7.e067078","type":"comment","z":"1eccbebb.c5bb31","name":"groupcall --with-- confirmation","info":"","x":180,"y":680,"wires":[]},{"id":"c2417a5.5b9f088","type":"inject","z":"1eccbebb.c5bb31","name":"START group call","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":720,"wires":[["ce0fcd30.ecfae"]]},{"id":"f54b11e3.026ec","type":"inject","z":"1eccbebb.c5bb31","name":"STOP group call","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":760,"wires":[["dc9fd690.1ae838"]]},{"id":"64a35844.e3d558","type":"t-daks event-id_start","z":"1eccbebb.c5bb31","name":"","eventItem":"","x":320,"y":300,"wires":[["731fb26f.914e9c"]]},{"id":"1ca84198.71a18e","type":"t-daks event-id_start","z":"1eccbebb.c5bb31","name":"","eventItem":"","x":320,"y":340,"wires":[["b7d1ac58.2b5f4"]]},{"id":"fc44c108.a384f","type":"t-daks event-id_start","z":"1eccbebb.c5bb31","name":"","eventItem":"","x":320,"y":440,"wires":[["29996ca3.035a24"]]},{"id":"4cbf9d59.5a1b74","type":"t-daks event-id_start","z":"1eccbebb.c5bb31","name":"","eventItem":"","x":320,"y":480,"wires":[["dd80b5ae.7697e8"]]},{"id":"339f168.82b0bea","type":"t-daks event-id_start","z":"1eccbebb.c5bb31","name":"","eventItem":"","x":320,"y":580,"wires":[["bc8f37e7.9970e8"]]},{"id":"556b9236.8647fc","type":"t-daks event-id_start","z":"1eccbebb.c5bb31","name":"","eventItem":"","x":320,"y":620,"wires":[["1a30037c.77387d"]]},{"id":"ce0fcd30.ecfae","type":"t-daks event-id_start","z":"1eccbebb.c5bb31","name":"","eventItem":"","x":320,"y":720,"wires":[["7116d4ac.26090c"]]},{"id":"dc9fd690.1ae838","type":"t-daks event-id_start","z":"1eccbebb.c5bb31","name":"","eventItem":"","x":320,"y":760,"wires":[["8fc0669a.c23908"]]},{"id":"bcdf995c.e23798","type":"comment","z":"1eccbebb.c5bb31","name":"INPUT-INTERFACE","info":"","x":150,"y":160,"wires":[]},{"id":"b7b8f133.87adf","type":"comment","z":"1eccbebb.c5bb31","name":"EVENT-ID definition","info":"","x":350,"y":160,"wires":[]},{"id":"38b2426b.dc092e","type":"comment","z":"1eccbebb.c5bb31","name":"Process declaration","info":"","x":730,"y":160,"wires":[]},{"id":"c986a68d.4f1e08","type":"comment","z":"1eccbebb.c5bb31","name":"(static OR dynamic)","info":"","x":350,"y":200,"wires":[]},{"id":"89e254f2.23af18","type":"comment","z":"1eccbebb.c5bb31","name":"or stop-commands","info":"","x":730,"y":200,"wires":[]},{"id":"dd4b593a.81cb48","type":"comment","z":"1eccbebb.c5bb31","name":"some evaluation","info":"","x":540,"y":180,"wires":[]},{"id":"dca419b4.9ca518","type":"t-daks process-evaluation","z":"1eccbebb.c5bb31","name":"Process Evaluation - Connect single event here","eventItem":"","confirmation":true,"x":1320,"y":480,"wires":[["f984a4c6.bfb138"]]},{"id":"58922e8d.29128","type":"comment","z":"1eccbebb.c5bb31","name":"ESPA-X connection","info":"","x":1010,"y":160,"wires":[]},{"id":"28fccb5a.6c8004","type":"comment","z":"1eccbebb.c5bb31","name":"confirmation handling","info":"","x":1240,"y":160,"wires":[]},{"id":"20a3d2a2.797abe","type":"comment","z":"1eccbebb.c5bb31","name":"do something on","info":"","x":1600,"y":160,"wires":[]},{"id":"aa6b6144.be8dd","type":"comment","z":"1eccbebb.c5bb31","name":"confirmation results","info":"","x":1610,"y":200,"wires":[]},{"id":"4065c396.1a04ac","type":"comment","z":"1eccbebb.c5bb31","name":"Central loggin for tetronik Nodes","info":"","x":1130,"y":740,"wires":[]},{"id":"2abf1782.38c168","type":"comment","z":"1eccbebb.c5bb31","name":"external database or logging interface","info":"","x":1450,"y":740,"wires":[]},{"id":"d2897f9d.99787","type":"comment","z":"1eccbebb.c5bb31","name":"ESPA-X Example","info":"","x":140,"y":60,"wires":[]},{"id":"cfdd94e.fbc0068","type":"comment","z":"1eccbebb.c5bb31","name":"Description in HERE","info":"A simple First-Steps example. For this, only the DAKS access data and call parameters have to be entered, so that the connection and function of the nodes can be tested straightaway.\n\nBefore you start, you have to define your \"Event-IDs\". The \"Event-ID\" is related to an interface, so that on the one hand a Stop command can be referred to a Start command, but also the Initiating interface can be referenced during the evaluation.\n\nThis means, for example, that the same \"Event-ID\" must be assigned to the start and stop buttons for the \"Single call --with-- confirmation\", as well as to the \"Process Evaluation\" for the single call.\n\nTo avoid errors, you should create a separate \"Event-ID\" for each of the four virtual interfaces.","x":330,"y":60,"wires":[]},{"id":"5bdb8603.500de8","type":"comment","z":"1eccbebb.c5bb31","name":"Use-Case description in HERE","info":"There is no specific use-case for this example. This example is only used for testing and approaching the ESPA-X node and the connection to the DAKS.","x":570,"y":60,"wires":[]},{"id":"731fb26f.914e9c","type":"t-daks espax process-init","z":"1eccbebb.c5bb31","name":"","logging":"e9b6f512.aa2498","action":"start","ptype":"single","number":"","conntype":"","calling_number":"","calling_name":"","message":"","ward":"","bed":"","signal":"Standard","delay":"0","attempts":"1","callback":"No","prio":"Standard","pr_details":"All","audio_id":"","max_age":"1","ncifno":"","cbckno":"","confirmation":"false","confirmation_key_0":"None","confirmation_key_1":"None","confirmation_key_2":"None","confirmation_key_3":"None","confirmation_key_4":"None","confirmation_key_5":"None","confirmation_key_6":"None","confirmation_key_7":"None","confirmation_key_8":"None","confirmation_key_9":"None","confirmation_label_0":"None","confirmation_label_1":"None","confirmation_label_2":"None","confirmation_label_3":"None","confirmation_label_4":"None","confirmation_label_5":"None","confirmation_label_6":"None","confirmation_label_7":"None","confirmation_label_8":"None","confirmation_label_9":"None","confirmation_ann":"","confirmation_text":"","cmd":"stop","mask":"All","reason":"Normal","ptype_S":"t","number_S":"t","conntype_S":"t","calling_number_S":"t","calling_name_S":"t","message_S":"t","ward_S":"t","bed_S":"t","signal_S":"t","delay_S":"t","attempts_S":"t","callback_S":"t","prio_S":"t","audio_id_S":"t","max_age_S":"t","ncifno_S":"t","cbckno_S":"t","confirmation_S":"t","mask_S":"t","reason_S":"t","x":740,"y":300,"wires":[["7c4222f4.0f33ac"]]},{"id":"b7d1ac58.2b5f4","type":"t-daks espax process-init","z":"1eccbebb.c5bb31","name":"","logging":"e9b6f512.aa2498","action":"stop","ptype":"single","number":"","conntype":"","calling_number":"","calling_name":"","message":"","ward":"","bed":"","signal":"Standard","delay":"0","attempts":"1","callback":"No","prio":"Standard","pr_details":"All","audio_id":"","max_age":"1","ncifno":"","cbckno":"","confirmation":"false","confirmation_key_0":"None","confirmation_key_1":"None","confirmation_key_2":"None","confirmation_key_3":"None","confirmation_key_4":"None","confirmation_key_5":"None","confirmation_key_6":"None","confirmation_key_7":"None","confirmation_key_8":"None","confirmation_key_9":"None","confirmation_label_0":"None","confirmation_label_1":"None","confirmation_label_2":"None","confirmation_label_3":"None","confirmation_label_4":"None","confirmation_label_5":"None","confirmation_label_6":"None","confirmation_label_7":"None","confirmation_label_8":"None","confirmation_label_9":"None","confirmation_ann":"","confirmation_text":"","cmd":"stop","mask":"All","reason":"Normal","ptype_S":"t","number_S":"t","conntype_S":"t","calling_number_S":"t","calling_name_S":"t","message_S":"t","ward_S":"t","bed_S":"t","signal_S":"t","delay_S":"t","attempts_S":"t","callback_S":"t","prio_S":"t","audio_id_S":"t","max_age_S":"t","ncifno_S":"t","cbckno_S":"t","confirmation_S":"t","mask_S":"t","reason_S":"t","x":740,"y":340,"wires":[["7c4222f4.0f33ac"]]},{"id":"29996ca3.035a24","type":"t-daks espax process-init","z":"1eccbebb.c5bb31","name":"","logging":"e9b6f512.aa2498","action":"start","ptype":"single","number":"","conntype":"","calling_number":"","calling_name":"","message":"","ward":"","bed":"","signal":"Standard","delay":"0","attempts":"1","callback":"No","prio":"Standard","pr_details":"All","audio_id":"","max_age":"1","ncifno":"","cbckno":"","confirmation":"true","confirmation_key_0":"Negative","confirmation_key_1":"Positive","confirmation_key_2":"None","confirmation_key_3":"None","confirmation_key_4":"None","confirmation_key_5":"None","confirmation_key_6":"None","confirmation_key_7":"None","confirmation_key_8":"None","confirmation_key_9":"None","confirmation_label_0":"None","confirmation_label_1":"None","confirmation_label_2":"None","confirmation_label_3":"None","confirmation_label_4":"None","confirmation_label_5":"None","confirmation_label_6":"None","confirmation_label_7":"None","confirmation_label_8":"None","confirmation_label_9":"None","confirmation_ann":"","confirmation_text":"","cmd":"stop","mask":"All","reason":"Normal","ptype_S":"t","number_S":"t","conntype_S":"t","calling_number_S":"t","calling_name_S":"t","message_S":"t","ward_S":"t","bed_S":"t","signal_S":"t","delay_S":"t","attempts_S":"t","callback_S":"t","prio_S":"t","audio_id_S":"t","max_age_S":"t","ncifno_S":"t","cbckno_S":"t","confirmation_S":"t","mask_S":"t","reason_S":"t","x":740,"y":440,"wires":[["7c4222f4.0f33ac"]]},{"id":"dd80b5ae.7697e8","type":"t-daks espax process-init","z":"1eccbebb.c5bb31","name":"","logging":"e9b6f512.aa2498","action":"stop","ptype":"single","number":"","conntype":"","calling_number":"","calling_name":"","message":"","ward":"","bed":"","signal":"Standard","delay":"0","attempts":"1","callback":"No","prio":"Standard","pr_details":"All","audio_id":"","max_age":"1","ncifno":"","cbckno":"","confirmation":"false","confirmation_key_0":"None","confirmation_key_1":"None","confirmation_key_2":"None","confirmation_key_3":"None","confirmation_key_4":"None","confirmation_key_5":"None","confirmation_key_6":"None","confirmation_key_7":"None","confirmation_key_8":"None","confirmation_key_9":"None","confirmation_label_0":"None","confirmation_label_1":"None","confirmation_label_2":"None","confirmation_label_3":"None","confirmation_label_4":"None","confirmation_label_5":"None","confirmation_label_6":"None","confirmation_label_7":"None","confirmation_label_8":"None","confirmation_label_9":"None","confirmation_ann":"","confirmation_text":"","cmd":"stop","mask":"All","reason":"Normal","ptype_S":"t","number_S":"t","conntype_S":"t","calling_number_S":"t","calling_name_S":"t","message_S":"t","ward_S":"t","bed_S":"t","signal_S":"t","delay_S":"t","attempts_S":"t","callback_S":"t","prio_S":"t","audio_id_S":"t","max_age_S":"t","ncifno_S":"t","cbckno_S":"t","confirmation_S":"t","mask_S":"t","reason_S":"t","x":740,"y":480,"wires":[["7c4222f4.0f33ac"]]},{"id":"1a30037c.77387d","type":"t-daks espax process-init","z":"1eccbebb.c5bb31","name":"","logging":"e9b6f512.aa2498","action":"stop","ptype":"single","number":"","conntype":"","calling_number":"","calling_name":"","message":"","ward":"","bed":"","signal":"Standard","delay":"0","attempts":"1","callback":"No","prio":"Standard","pr_details":"All","audio_id":"","max_age":"1","ncifno":"","cbckno":"","confirmation":"false","confirmation_key_0":"None","confirmation_key_1":"None","confirmation_key_2":"None","confirmation_key_3":"None","confirmation_key_4":"None","confirmation_key_5":"None","confirmation_key_6":"None","confirmation_key_7":"None","confirmation_key_8":"None","confirmation_key_9":"None","confirmation_label_0":"None","confirmation_label_1":"None","confirmation_label_2":"None","confirmation_label_3":"None","confirmation_label_4":"None","confirmation_label_5":"None","confirmation_label_6":"None","confirmation_label_7":"None","confirmation_label_8":"None","confirmation_label_9":"None","confirmation_ann":"","confirmation_text":"","cmd":"stop","mask":"All","reason":"Normal","ptype_S":"t","number_S":"t","conntype_S":"t","calling_number_S":"t","calling_name_S":"t","message_S":"t","ward_S":"t","bed_S":"t","signal_S":"t","delay_S":"t","attempts_S":"t","callback_S":"t","prio_S":"t","audio_id_S":"t","max_age_S":"t","ncifno_S":"t","cbckno_S":"t","confirmation_S":"t","mask_S":"t","reason_S":"t","x":740,"y":620,"wires":[["7c4222f4.0f33ac"]]},{"id":"8fc0669a.c23908","type":"t-daks espax process-init","z":"1eccbebb.c5bb31","name":"","logging":"e9b6f512.aa2498","action":"stop","ptype":"single","number":"","conntype":"","calling_number":"","calling_name":"","message":"","ward":"","bed":"","signal":"Standard","delay":"0","attempts":"1","callback":"No","prio":"Standard","pr_details":"All","audio_id":"","max_age":"1","ncifno":"","cbckno":"","confirmation":"false","confirmation_key_0":"None","confirmation_key_1":"None","confirmation_key_2":"None","confirmation_key_3":"None","confirmation_key_4":"None","confirmation_key_5":"None","confirmation_key_6":"None","confirmation_key_7":"None","confirmation_key_8":"None","confirmation_key_9":"None","confirmation_label_0":"None","confirmation_label_1":"None","confirmation_label_2":"None","confirmation_label_3":"None","confirmation_label_4":"None","confirmation_label_5":"None","confirmation_label_6":"None","confirmation_label_7":"None","confirmation_label_8":"None","confirmation_label_9":"None","confirmation_ann":"","confirmation_text":"","cmd":"stop","mask":"All","reason":"Normal","ptype_S":"t","number_S":"t","conntype_S":"t","calling_number_S":"t","calling_name_S":"t","message_S":"t","ward_S":"t","bed_S":"t","signal_S":"t","delay_S":"t","attempts_S":"t","callback_S":"t","prio_S":"t","audio_id_S":"t","max_age_S":"t","ncifno_S":"t","cbckno_S":"t","confirmation_S":"t","mask_S":"t","reason_S":"t","x":740,"y":760,"wires":[["7c4222f4.0f33ac"]]},{"id":"bc8f37e7.9970e8","type":"t-daks espax process-init","z":"1eccbebb.c5bb31","name":"","logging":"e9b6f512.aa2498","action":"start","ptype":"group","number":"","conntype":"","calling_number":"","calling_name":"","message":"","ward":"","bed":"","signal":"Standard","delay":"0","attempts":"1","callback":"No","prio":"Standard","pr_details":"All","audio_id":"","max_age":"1","ncifno":"","cbckno":"","confirmation":"false","confirmation_key_0":"None","confirmation_key_1":"None","confirmation_key_2":"None","confirmation_key_3":"None","confirmation_key_4":"None","confirmation_key_5":"None","confirmation_key_6":"None","confirmation_key_7":"None","confirmation_key_8":"None","confirmation_key_9":"None","confirmation_label_0":"None","confirmation_label_1":"None","confirmation_label_2":"None","confirmation_label_3":"None","confirmation_label_4":"None","confirmation_label_5":"None","confirmation_label_6":"None","confirmation_label_7":"None","confirmation_label_8":"None","confirmation_label_9":"None","confirmation_ann":"","confirmation_text":"","cmd":"stop","mask":"All","reason":"Normal","ptype_S":"t","number_S":"t","conntype_S":"t","calling_number_S":"t","calling_name_S":"t","message_S":"t","ward_S":"t","bed_S":"t","signal_S":"t","delay_S":"t","attempts_S":"t","callback_S":"t","prio_S":"t","audio_id_S":"t","max_age_S":"t","ncifno_S":"t","cbckno_S":"t","confirmation_S":"t","mask_S":"t","reason_S":"t","x":740,"y":580,"wires":[["7c4222f4.0f33ac"]]},{"id":"7116d4ac.26090c","type":"t-daks espax process-init","z":"1eccbebb.c5bb31","name":"","logging":"e9b6f512.aa2498","action":"start","ptype":"group","number":"","conntype":"","calling_number":"","calling_name":"","message":"","ward":"","bed":"","signal":"Standard","delay":"0","attempts":"1","callback":"No","prio":"Standard","pr_details":"All","audio_id":"","max_age":"1","ncifno":"","cbckno":"","confirmation":"true","confirmation_key_0":"Negative","confirmation_key_1":"Positive","confirmation_key_2":"None","confirmation_key_3":"None","confirmation_key_4":"None","confirmation_key_5":"None","confirmation_key_6":"None","confirmation_key_7":"None","confirmation_key_8":"None","confirmation_key_9":"None","confirmation_label_0":"None","confirmation_label_1":"None","confirmation_label_2":"None","confirmation_label_3":"None","confirmation_label_4":"None","confirmation_label_5":"None","confirmation_label_6":"None","confirmation_label_7":"None","confirmation_label_8":"None","confirmation_label_9":"None","confirmation_ann":"","confirmation_text":"","cmd":"stop","mask":"All","reason":"Normal","ptype_S":"t","number_S":"t","conntype_S":"t","calling_number_S":"t","calling_name_S":"t","message_S":"t","ward_S":"t","bed_S":"t","signal_S":"t","delay_S":"t","attempts_S":"t","callback_S":"t","prio_S":"t","audio_id_S":"t","max_age_S":"t","ncifno_S":"t","cbckno_S":"t","confirmation_S":"t","mask_S":"t","reason_S":"t","x":740,"y":720,"wires":[["7c4222f4.0f33ac"]]},{"id":"e9b6f512.aa2498","type":"t-daks log-connector","name":"Log-Connector"}]