examples/Example 03 - Socket to ESPA-X.json
[{"id":"337703aa.454c1c","type":"t-daks event-id_start","z":"ceaafdcd.a8857","name":"","eventItem":"","x":560,"y":300,"wires":[["9229b8e.ed67c48"]]},{"id":"12164707.e60209","type":"t-daks espax","z":"ceaafdcd.a8857","name":"","server":"","logging":"","x":1360,"y":300,"wires":[[],["46d4c2ab.4d197c"]]},{"id":"46d4c2ab.4d197c","type":"debug","z":"ceaafdcd.a8857","name":"Queue-Warning","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":1540,"y":340,"wires":[]},{"id":"86d33ba4.9c55b8","type":"comment","z":"ceaafdcd.a8857","name":"Central loggin for tetronik Nodes","info":"","x":950,"y":400,"wires":[]},{"id":"d8401630.b6de18","type":"t-daks log","z":"ceaafdcd.a8857","name":"","log":"","console":false,"x":900,"y":440,"wires":[["9ddb6186.f2eb7"]]},{"id":"9ddb6186.f2eb7","type":"debug","z":"ceaafdcd.a8857","name":"Log-Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":440,"wires":[]},{"id":"5313422d.bd1b9c","type":"comment","z":"ceaafdcd.a8857","name":"external database or logging interface","info":"","x":1250,"y":400,"wires":[]},{"id":"e35fee5b.4bf51","type":"comment","z":"ceaafdcd.a8857","name":"EVENT-ID definition","info":"","x":590,"y":160,"wires":[]},{"id":"8b2cae77.35878","type":"comment","z":"ceaafdcd.a8857","name":"(static OR dynamic)","info":"","x":590,"y":200,"wires":[]},{"id":"8879cc2.e14a43","type":"comment","z":"ceaafdcd.a8857","name":"some evaluation","info":"","x":780,"y":160,"wires":[]},{"id":"9d59aa3e.485908","type":"comment","z":"ceaafdcd.a8857","name":"Process declaration","info":"","x":1150,"y":160,"wires":[]},{"id":"75a1b5c1.89f22c","type":"comment","z":"ceaafdcd.a8857","name":"or stop-commands","info":"","x":1150,"y":200,"wires":[]},{"id":"a6c3aa9c.d0be58","type":"comment","z":"ceaafdcd.a8857","name":"ESPA-X connection","info":"","x":1390,"y":180,"wires":[]},{"id":"e2823a63.de1708","type":"comment","z":"ceaafdcd.a8857","name":"INPUT-INTERFACE","info":"","x":150,"y":160,"wires":[]},{"id":"bbbf8200.40a6b","type":"tcp in","z":"ceaafdcd.a8857","name":"","server":"server","host":"","port":"1234","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":120,"y":300,"wires":[["8c27d3aa.a8613"]]},{"id":"8c27d3aa.a8613","type":"t-misc string-to-array-filter","z":"ceaafdcd.a8857","name":"","skipUntilLetter":true,"label":[{"value":"time","separator":"\\t"},{"value":"action","separator":"\\t"},{"value":"number","separator":"\\t"},{"value":"location","separator":"\\t"},{"value":"message","separator":""}],"x":360,"y":300,"wires":[["337703aa.454c1c"]]},{"id":"43fe6ae9.884834","type":"comment","z":"ceaafdcd.a8857","name":"Split String to Objects by '\\t'","info":"","x":370,"y":160,"wires":[]},{"id":"9229b8e.ed67c48","type":"switch","z":"ceaafdcd.a8857","name":"","property":"split.action","propertyType":"msg","rules":[{"t":"eq","v":"START","vt":"str"},{"t":"eq","v":"STOP","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":300,"wires":[["47e7fd58.71ff44"],["2637adff.b05e22"]]},{"id":"e519e35f.a554c","type":"inject","z":"ceaafdcd.a8857","name":"Example: Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12:40:23\tSTART\t1234\tEingang\tEine Testnachricht!","payloadType":"str","x":160,"y":360,"wires":[["8c27d3aa.a8613"]]},{"id":"47e7fd58.71ff44","type":"change","z":"ceaafdcd.a8857","name":"","rules":[{"t":"set","p":"number","pt":"msg","to":"split.number","tot":"msg"},{"t":"set","p":"ward","pt":"msg","to":"split.location","tot":"msg"},{"t":"set","p":"message","pt":"msg","to":"split.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":280,"wires":[["5a5e8327.4c9d5c"]]},{"id":"6280ad81.9b4514","type":"inject","z":"ceaafdcd.a8857","name":"Example: Stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12:40:23\tSTOP\t1234\tEingang\tEine Testnachricht!","payloadType":"str","x":160,"y":400,"wires":[["8c27d3aa.a8613"]]},{"id":"e866d99a.1ad0e8","type":"comment","z":"ceaafdcd.a8857","name":"TCP-Socket start","info":"","x":140,"y":200,"wires":[]},{"id":"456f479f.cd7e48","type":"comment","z":"ceaafdcd.a8857","name":"flow by '\\n'","info":"","x":120,"y":240,"wires":[]},{"id":"1c322963.5b91b7","type":"comment","z":"ceaafdcd.a8857","name":"Map values to","info":"","x":950,"y":160,"wires":[]},{"id":"e315c574.adf878","type":"comment","z":"ceaafdcd.a8857","name":"correct variables","info":"","x":960,"y":200,"wires":[]},{"id":"a297e2bb.be4a2","type":"comment","z":"ceaafdcd.a8857","name":"Switch Start/Stop","info":"","x":780,"y":200,"wires":[]},{"id":"17a251c1.f5226e","type":"comment","z":"ceaafdcd.a8857","name":"Socket \\w Splitter Example","info":"","x":170,"y":60,"wires":[]},{"id":"763e1cdf.d30e94","type":"comment","z":"ceaafdcd.a8857","name":"Description in HERE","info":"This example shows a TCP node on the input side (can be both server or client). This TCP socket receives strings in which the individual data records are partitioned with separators and the string is \"terminated\" with a carriage return. This is followed by a \"splitter node\", which splits the string into individual variables using predefined separators. Using these variables, a variable Event-ID is then created and another data set is created.<br>\nIn addition, a certain variable in this string is used to decide whether the process is started or stopped.\n\nTo use this example, you should set the \"Use customize ID\" flag in you created \"Event ID\". Then you have to fill in two \"ID-Items\" in the list.\nOne item should be \"msg.split.number\" and the second one should be \"msg.split.location\". With that, you do not only reference by your local interface but also by your remote alert groups.","x":390,"y":60,"wires":[]},{"id":"e9a10910.9148a8","type":"comment","z":"ceaafdcd.a8857","name":"Use-Case description in HERE","info":"This example can be used very well at terminal and printer outputs, where \"endless\" data sets are produced. Of course, individual data sets should always be separated by the same separator (often a carriage return) and all data sets should have the same basic structure. In this way, for example, the time, location, a message and a \"control command\" can always be filtered out of a data record in order to use it as a single variable in the flow.<br>\nHowever, if different data set structures can occur, this example is not suitable. Then the complex variant with a regular expression must be used.","x":630,"y":60,"wires":[]},{"id":"5a5e8327.4c9d5c","type":"t-daks espax process-init","z":"ceaafdcd.a8857","name":"","logging":"e9b6f512.aa2498","action":"start","ptype":"group","number":"","conntype":"","calling_number":"","calling_name":"","message":"","ward":"","bed":"","signal":"Standard","delay":"0","attempts":"1","callback":"No","prio":"Standard","pr_details":"All","audio_id":"","max_age":"1","ncifno":"","cbckno":"","confirmation":"false","confirmation_key_0":"None","confirmation_key_1":"None","confirmation_key_2":"None","confirmation_key_3":"None","confirmation_key_4":"None","confirmation_key_5":"None","confirmation_key_6":"None","confirmation_key_7":"None","confirmation_key_8":"None","confirmation_key_9":"None","confirmation_label_0":"None","confirmation_label_1":"None","confirmation_label_2":"None","confirmation_label_3":"None","confirmation_label_4":"None","confirmation_label_5":"None","confirmation_label_6":"None","confirmation_label_7":"None","confirmation_label_8":"None","confirmation_label_9":"None","confirmation_ann":"","confirmation_text":"","cmd":"stop","mask":"All","reason":"Normal","ptype_S":"t","number_S":"msg","conntype_S":"t","calling_number_S":"t","calling_name_S":"t","message_S":"msg","ward_S":"msg","bed_S":"t","signal_S":"t","delay_S":"t","attempts_S":"t","callback_S":"t","prio_S":"t","audio_id_S":"t","max_age_S":"t","ncifno_S":"t","cbckno_S":"t","confirmation_S":"t","mask_S":"t","reason_S":"t","x":1160,"y":280,"wires":[["12164707.e60209"]]},{"id":"2637adff.b05e22","type":"t-daks espax process-init","z":"ceaafdcd.a8857","name":"","logging":"e9b6f512.aa2498","action":"stop","ptype":"single","number":"","conntype":"","calling_number":"","calling_name":"","message":"","ward":"","bed":"","signal":"Standard","delay":"0","attempts":"1","callback":"No","prio":"Standard","pr_details":"All","audio_id":"","max_age":"1","ncifno":"","cbckno":"","confirmation":"false","confirmation_key_0":"None","confirmation_key_1":"None","confirmation_key_2":"None","confirmation_key_3":"None","confirmation_key_4":"None","confirmation_key_5":"None","confirmation_key_6":"None","confirmation_key_7":"None","confirmation_key_8":"None","confirmation_key_9":"None","confirmation_label_0":"None","confirmation_label_1":"None","confirmation_label_2":"None","confirmation_label_3":"None","confirmation_label_4":"None","confirmation_label_5":"None","confirmation_label_6":"None","confirmation_label_7":"None","confirmation_label_8":"None","confirmation_label_9":"None","confirmation_ann":"","confirmation_text":"","cmd":"stop","mask":"All","reason":"Normal","ptype_S":"t","number_S":"t","conntype_S":"t","calling_number_S":"t","calling_name_S":"t","message_S":"t","ward_S":"t","bed_S":"t","signal_S":"t","delay_S":"t","attempts_S":"t","callback_S":"t","prio_S":"t","audio_id_S":"t","max_age_S":"t","ncifno_S":"t","cbckno_S":"t","confirmation_S":"t","mask_S":"t","reason_S":"t","x":1160,"y":320,"wires":[["12164707.e60209"]]},{"id":"e9b6f512.aa2498","type":"t-daks log-connector","name":"Log-Connector"}]