examples/Example 07 - Date_Time evaluation.json
[{"id":"1a480df2.457892","type":"light-scheduler-filter","z":"4c53f9b6.5aa218","settings":"f24872cc.03477","events":"[{\"start\":{\"dow\":1,\"mod\":480},\"end\":{\"dow\":1,\"mod\":495}},{\"start\":{\"dow\":1,\"mod\":510},\"end\":{\"dow\":1,\"mod\":525}},{\"start\":{\"dow\":1,\"mod\":540},\"end\":{\"dow\":1,\"mod\":555}},{\"start\":{\"dow\":1,\"mod\":570},\"end\":{\"dow\":1,\"mod\":585}},{\"start\":{\"dow\":1,\"mod\":600},\"end\":{\"dow\":1,\"mod\":615}},{\"start\":{\"dow\":1,\"mod\":630},\"end\":{\"dow\":1,\"mod\":645}},{\"start\":{\"dow\":1,\"mod\":660},\"end\":{\"dow\":1,\"mod\":675}},{\"start\":{\"dow\":1,\"mod\":690},\"end\":{\"dow\":1,\"mod\":705}},{\"start\":{\"dow\":1,\"mod\":720},\"end\":{\"dow\":1,\"mod\":735}},{\"start\":{\"dow\":1,\"mod\":750},\"end\":{\"dow\":1,\"mod\":765}},{\"start\":{\"dow\":1,\"mod\":780},\"end\":{\"dow\":1,\"mod\":795}},{\"start\":{\"dow\":1,\"mod\":810},\"end\":{\"dow\":1,\"mod\":825}},{\"start\":{\"dow\":1,\"mod\":840},\"end\":{\"dow\":1,\"mod\":855}},{\"start\":{\"dow\":1,\"mod\":870},\"end\":{\"dow\":1,\"mod\":885}},{\"start\":{\"dow\":1,\"mod\":900},\"end\":{\"dow\":1,\"mod\":915}},{\"start\":{\"dow\":1,\"mod\":930},\"end\":{\"dow\":1,\"mod\":945}},{\"start\":{\"dow\":1,\"mod\":960},\"end\":{\"dow\":1,\"mod\":975}},{\"start\":{\"dow\":1,\"mod\":990},\"end\":{\"dow\":1,\"mod\":1005}},{\"start\":{\"dow\":1,\"mod\":1020},\"end\":{\"dow\":1,\"mod\":1035}},{\"start\":{\"dow\":1,\"mod\":1050},\"end\":{\"dow\":1,\"mod\":1065}},{\"start\":{\"dow\":1,\"mod\":1080},\"end\":{\"dow\":1,\"mod\":1095}},{\"start\":{\"dow\":1,\"mod\":1110},\"end\":{\"dow\":1,\"mod\":1125}},{\"start\":{\"dow\":2,\"mod\":480},\"end\":{\"dow\":2,\"mod\":495}},{\"start\":{\"dow\":2,\"mod\":510},\"end\":{\"dow\":2,\"mod\":525}},{\"start\":{\"dow\":2,\"mod\":540},\"end\":{\"dow\":2,\"mod\":555}},{\"start\":{\"dow\":2,\"mod\":570},\"end\":{\"dow\":2,\"mod\":585}},{\"start\":{\"dow\":2,\"mod\":600},\"end\":{\"dow\":2,\"mod\":615}},{\"start\":{\"dow\":2,\"mod\":630},\"end\":{\"dow\":2,\"mod\":645}},{\"start\":{\"dow\":2,\"mod\":660},\"end\":{\"dow\":2,\"mod\":675}},{\"start\":{\"dow\":2,\"mod\":690},\"end\":{\"dow\":2,\"mod\":705}},{\"start\":{\"dow\":2,\"mod\":720},\"end\":{\"dow\":2,\"mod\":735}},{\"start\":{\"dow\":2,\"mod\":750},\"end\":{\"dow\":2,\"mod\":765}},{\"start\":{\"dow\":2,\"mod\":780},\"end\":{\"dow\":2,\"mod\":795}},{\"start\":{\"dow\":2,\"mod\":810},\"end\":{\"dow\":2,\"mod\":825}},{\"start\":{\"dow\":2,\"mod\":840},\"end\":{\"dow\":2,\"mod\":855}},{\"start\":{\"dow\":2,\"mod\":870},\"end\":{\"dow\":2,\"mod\":885}},{\"start\":{\"dow\":2,\"mod\":900},\"end\":{\"dow\":2,\"mod\":915}},{\"start\":{\"dow\":2,\"mod\":930},\"end\":{\"dow\":2,\"mod\":945}},{\"start\":{\"dow\":2,\"mod\":960},\"end\":{\"dow\":2,\"mod\":975}},{\"start\":{\"dow\":2,\"mod\":990},\"end\":{\"dow\":2,\"mod\":1005}},{\"start\":{\"dow\":2,\"mod\":1020},\"end\":{\"dow\":2,\"mod\":1035}},{\"start\":{\"dow\":2,\"mod\":1050},\"end\":{\"dow\":2,\"mod\":1065}},{\"start\":{\"dow\":2,\"mod\":1080},\"end\":{\"dow\":2,\"mod\":1095}},{\"start\":{\"dow\":2,\"mod\":1110},\"end\":{\"dow\":2,\"mod\":1125}},{\"start\":{\"dow\":3,\"mod\":1110},\"end\":{\"dow\":3,\"mod\":1125}},{\"start\":{\"dow\":3,\"mod\":1080},\"end\":{\"dow\":3,\"mod\":1095}},{\"start\":{\"dow\":3,\"mod\":1050},\"end\":{\"dow\":3,\"mod\":1065}},{\"start\":{\"dow\":3,\"mod\":1020},\"end\":{\"dow\":3,\"mod\":1035}},{\"start\":{\"dow\":3,\"mod\":990},\"end\":{\"dow\":3,\"mod\":1005}},{\"start\":{\"dow\":3,\"mod\":960},\"end\":{\"dow\":3,\"mod\":975}},{\"start\":{\"dow\":3,\"mod\":930},\"end\":{\"dow\":3,\"mod\":945}},{\"start\":{\"dow\":3,\"mod\":900},\"end\":{\"dow\":3,\"mod\":915}},{\"start\":{\"dow\":3,\"mod\":870},\"end\":{\"dow\":3,\"mod\":885}},{\"start\":{\"dow\":3,\"mod\":840},\"end\":{\"dow\":3,\"mod\":855}},{\"start\":{\"dow\":3,\"mod\":810},\"end\":{\"dow\":3,\"mod\":825}},{\"start\":{\"dow\":3,\"mod\":780},\"end\":{\"dow\":3,\"mod\":795}},{\"start\":{\"dow\":3,\"mod\":750},\"end\":{\"dow\":3,\"mod\":765}},{\"start\":{\"dow\":3,\"mod\":720},\"end\":{\"dow\":3,\"mod\":735}},{\"start\":{\"dow\":3,\"mod\":690},\"end\":{\"dow\":3,\"mod\":705}},{\"start\":{\"dow\":3,\"mod\":660},\"end\":{\"dow\":3,\"mod\":675}},{\"start\":{\"dow\":3,\"mod\":630},\"end\":{\"dow\":3,\"mod\":645}},{\"start\":{\"dow\":3,\"mod\":600},\"end\":{\"dow\":3,\"mod\":615}},{\"start\":{\"dow\":3,\"mod\":570},\"end\":{\"dow\":3,\"mod\":585}},{\"start\":{\"dow\":3,\"mod\":540},\"end\":{\"dow\":3,\"mod\":555}},{\"start\":{\"dow\":3,\"mod\":510},\"end\":{\"dow\":3,\"mod\":525}},{\"start\":{\"dow\":3,\"mod\":480},\"end\":{\"dow\":3,\"mod\":495}},{\"start\":{\"dow\":4,\"mod\":480},\"end\":{\"dow\":4,\"mod\":495}},{\"start\":{\"dow\":4,\"mod\":510},\"end\":{\"dow\":4,\"mod\":525}},{\"start\":{\"dow\":4,\"mod\":540},\"end\":{\"dow\":4,\"mod\":555}},{\"start\":{\"dow\":4,\"mod\":570},\"end\":{\"dow\":4,\"mod\":585}},{\"start\":{\"dow\":4,\"mod\":600},\"end\":{\"dow\":4,\"mod\":615}},{\"start\":{\"dow\":4,\"mod\":630},\"end\":{\"dow\":4,\"mod\":645}},{\"start\":{\"dow\":4,\"mod\":660},\"end\":{\"dow\":4,\"mod\":675}},{\"start\":{\"dow\":4,\"mod\":690},\"end\":{\"dow\":4,\"mod\":705}},{\"start\":{\"dow\":4,\"mod\":720},\"end\":{\"dow\":4,\"mod\":735}},{\"start\":{\"dow\":4,\"mod\":750},\"end\":{\"dow\":4,\"mod\":765}},{\"start\":{\"dow\":4,\"mod\":780},\"end\":{\"dow\":4,\"mod\":795}},{\"start\":{\"dow\":4,\"mod\":810},\"end\":{\"dow\":4,\"mod\":825}},{\"start\":{\"dow\":4,\"mod\":840},\"end\":{\"dow\":4,\"mod\":855}},{\"start\":{\"dow\":4,\"mod\":870},\"end\":{\"dow\":4,\"mod\":885}},{\"start\":{\"dow\":4,\"mod\":900},\"end\":{\"dow\":4,\"mod\":915}},{\"start\":{\"dow\":4,\"mod\":930},\"end\":{\"dow\":4,\"mod\":945}},{\"start\":{\"dow\":4,\"mod\":960},\"end\":{\"dow\":4,\"mod\":975}},{\"start\":{\"dow\":4,\"mod\":990},\"end\":{\"dow\":4,\"mod\":1005}},{\"start\":{\"dow\":4,\"mod\":1020},\"end\":{\"dow\":4,\"mod\":1035}},{\"start\":{\"dow\":4,\"mod\":1050},\"end\":{\"dow\":4,\"mod\":1065}},{\"start\":{\"dow\":4,\"mod\":1080},\"end\":{\"dow\":4,\"mod\":1095}},{\"start\":{\"dow\":4,\"mod\":1110},\"end\":{\"dow\":4,\"mod\":1125}},{\"start\":{\"dow\":5,\"mod\":1110},\"end\":{\"dow\":5,\"mod\":1125}},{\"start\":{\"dow\":5,\"mod\":1080},\"end\":{\"dow\":5,\"mod\":1095}},{\"start\":{\"dow\":5,\"mod\":1050},\"end\":{\"dow\":5,\"mod\":1065}},{\"start\":{\"dow\":5,\"mod\":1020},\"end\":{\"dow\":5,\"mod\":1035}},{\"start\":{\"dow\":5,\"mod\":990},\"end\":{\"dow\":5,\"mod\":1005}},{\"start\":{\"dow\":5,\"mod\":960},\"end\":{\"dow\":5,\"mod\":975}},{\"start\":{\"dow\":5,\"mod\":930},\"end\":{\"dow\":5,\"mod\":945}},{\"start\":{\"dow\":5,\"mod\":900},\"end\":{\"dow\":5,\"mod\":915}},{\"start\":{\"dow\":5,\"mod\":870},\"end\":{\"dow\":5,\"mod\":885}},{\"start\":{\"dow\":5,\"mod\":840},\"end\":{\"dow\":5,\"mod\":855}},{\"start\":{\"dow\":5,\"mod\":810},\"end\":{\"dow\":5,\"mod\":825}},{\"start\":{\"dow\":5,\"mod\":780},\"end\":{\"dow\":5,\"mod\":795}},{\"start\":{\"dow\":5,\"mod\":750},\"end\":{\"dow\":5,\"mod\":765}},{\"start\":{\"dow\":5,\"mod\":720},\"end\":{\"dow\":5,\"mod\":735}},{\"start\":{\"dow\":5,\"mod\":690},\"end\":{\"dow\":5,\"mod\":705}},{\"start\":{\"dow\":5,\"mod\":660},\"end\":{\"dow\":5,\"mod\":675}},{\"start\":{\"dow\":5,\"mod\":630},\"end\":{\"dow\":5,\"mod\":645}},{\"start\":{\"dow\":5,\"mod\":600},\"end\":{\"dow\":5,\"mod\":615}},{\"start\":{\"dow\":5,\"mod\":570},\"end\":{\"dow\":5,\"mod\":585}},{\"start\":{\"dow\":5,\"mod\":540},\"end\":{\"dow\":5,\"mod\":555}},{\"start\":{\"dow\":5,\"mod\":510},\"end\":{\"dow\":5,\"mod\":525}},{\"start\":{\"dow\":5,\"mod\":480},\"end\":{\"dow\":5,\"mod\":495}}]","name":"","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"x":320,"y":200,"wires":[["4cb38bef.80aa94"],["ea795aa.a353ea8"]]},{"id":"3a888aef.c22a36","type":"german-holidays","z":"4c53f9b6.5aa218","name":"","topic":"","region":"","holidays":[{"id":"NEUJAHRSTAG","name":"Neujahrstag","nameAlt":"","character":2,"month":1,"day":1,"nth":0,"dow":1,"plType":"none","plValue":""},{"id":"KARFREITAG","name":"Karfreitag","nameAlt":"","character":2,"month":-1,"day":-2,"nth":0,"dow":-2,"plType":"none","plValue":""},{"id":"OSTERMONTAG","name":"Ostermontag","nameAlt":"","character":2,"month":-1,"day":1,"nth":0,"dow":1,"plType":"none","plValue":""},{"id":"TAG_DER_ARBEIT","name":"Maifeiertag","nameAlt":"Tag der Arbeit","character":256,"month":5,"day":1,"nth":0,"dow":1,"plType":"none","plValue":""},{"id":"CHRISTIHIMMELFAHRT","name":"Christi Himmelfahrt","nameAlt":"Vatertag","character":2,"month":-1,"day":39,"nth":5,"dow":4,"plType":"none","plValue":""},{"id":"PFINGSTMONTAG","name":"Pfingstmontag","nameAlt":"","character":2,"month":-1,"day":50,"nth":7,"dow":1,"plType":"none","plValue":""},{"id":"FRONLEICHNAM","name":"Fronleichnam","nameAlt":"","character":2,"month":-1,"day":60,"nth":8,"dow":4,"plType":"none","plValue":""},{"id":"DEUTSCHEEINHEIT","name":"Tag der Deutschen Einheit","nameAlt":"","character":4,"month":10,"day":3,"nth":0,"dow":3,"plType":"none","plValue":""},{"id":"ERSTERWEIHNACHTSFEIERTAG","name":"1. Weihnachtstag","nameAlt":"Christtag","character":2,"month":12,"day":25,"nth":3,"dow":4,"plType":"none","plValue":""},{"id":"ZWEITERWEIHNACHTSFEIERTAG","name":"2. Weihnachtstag","nameAlt":"Stefanitag","character":2,"month":12,"day":26,"nth":3,"dow":5,"plType":"none","plValue":""}],"specialdays":[],"x":280,"y":700,"wires":[["4d1d7734.b2e888","e586a917.5f76f8","77e23d74.6cef54","6eea64c3.49550c"]]},{"id":"815df3d9.56107","type":"holiday","z":"4c53f9b6.5aa218","name":"","country":"DE","state":"HE","region":"","languages":"German","typePublic":true,"typeBank":true,"typeSchool":true,"typeObservance":false,"typeOptional":false,"weekend":"6,0","x":380,"y":400,"wires":[["9aef1860.68c9a8"],["c6373d58.3143d"]]},{"id":"4cb38bef.80aa94","type":"debug","z":"4c53f9b6.5aa218","name":"Match","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":180,"wires":[]},{"id":"2dccd25a.b7e79e","type":"debug","z":"4c53f9b6.5aa218","name":"is holiday","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":580,"wires":[]},{"id":"4d1d7734.b2e888","type":"switch","z":"4c53f9b6.5aa218","name":"isHoliday","property":"payload.today.isHoliday","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":600,"wires":[["2dccd25a.b7e79e"],["caa6954f.cc4628"]]},{"id":"233a966c.04b07a","type":"inject","z":"4c53f9b6.5aa218","name":"","props":[{"p":"payload"},{"p":"company","v":"tetronik GmbH","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello World","payloadType":"str","x":130,"y":200,"wires":[["1a480df2.457892"]]},{"id":"ea795aa.a353ea8","type":"debug","z":"4c53f9b6.5aa218","name":"No Match","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":220,"wires":[]},{"id":"9aef1860.68c9a8","type":"debug","z":"4c53f9b6.5aa218","name":"Holiday","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":380,"wires":[]},{"id":"c6373d58.3143d","type":"debug","z":"4c53f9b6.5aa218","name":"No Holiday","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":420,"wires":[]},{"id":"45f75ab3.789e94","type":"inject","z":"4c53f9b6.5aa218","name":"msg.message > Hello World","props":[{"p":"message","v":"Hello World","vt":"str"},{"p":"company","v":"tetronik GmbH","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":400,"wires":[["815df3d9.56107"]]},{"id":"798056d7.17a718","type":"inject","z":"4c53f9b6.5aa218","name":"","props":[{"p":"payload"},{"p":"company","v":"tetronik GmbH","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello World","payloadType":"str","x":130,"y":700,"wires":[["3a888aef.c22a36"]]},{"id":"e586a917.5f76f8","type":"switch","z":"4c53f9b6.5aa218","name":"isWeekend","property":"payload.today.isWeekend","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":680,"wires":[["9b5ccbc6.fc6888"],["fe5aef5f.42d72"]]},{"id":"77e23d74.6cef54","type":"switch","z":"4c53f9b6.5aa218","name":"isSpecialday","property":"payload.today.isSpecialday","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":760,"wires":[["faf3b93f.f06a78"],["ce1f5795.9de7d8"]]},{"id":"6eea64c3.49550c","type":"switch","z":"4c53f9b6.5aa218","name":"isWeekendOrHoliday","property":"payload.today.isWeekendOrHoliday","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":840,"wires":[["97e04946.819b08"],["f0c04752.8e2a68"]]},{"id":"caa6954f.cc4628","type":"debug","z":"4c53f9b6.5aa218","name":"is NO holiday","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":620,"wires":[]},{"id":"9b5ccbc6.fc6888","type":"debug","z":"4c53f9b6.5aa218","name":"is weekend","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":660,"wires":[]},{"id":"fe5aef5f.42d72","type":"debug","z":"4c53f9b6.5aa218","name":"is NO weekend","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":700,"wires":[]},{"id":"faf3b93f.f06a78","type":"debug","z":"4c53f9b6.5aa218","name":"is special day","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":740,"wires":[]},{"id":"ce1f5795.9de7d8","type":"debug","z":"4c53f9b6.5aa218","name":"is NO special day","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":780,"wires":[]},{"id":"97e04946.819b08","type":"debug","z":"4c53f9b6.5aa218","name":"is weekend or holiday","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":820,"wires":[]},{"id":"f0c04752.8e2a68","type":"debug","z":"4c53f9b6.5aa218","name":"is NO weekend or holiday","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":860,"wires":[]},{"id":"70cca3f1.609c8c","type":"comment","z":"4c53f9b6.5aa218","name":"virtual Input","info":"","x":130,"y":160,"wires":[]},{"id":"1b6ff311.e5f58d","type":"comment","z":"4c53f9b6.5aa218","name":"switch message flow depending on schedule","info":"","x":390,"y":160,"wires":[]},{"id":"b0c6e65e.886108","type":"comment","z":"4c53f9b6.5aa218","name":"virtual Input","info":"","x":130,"y":660,"wires":[]},{"id":"750e147e.d1935c","type":"comment","z":"4c53f9b6.5aa218","name":"virtual Input","info":"","x":230,"y":360,"wires":[]},{"id":"e9b80564.d90528","type":"comment","z":"4c53f9b6.5aa218","name":"add elements to a message","info":"","x":340,"y":660,"wires":[]},{"id":"f46470e8.454b7","type":"comment","z":"4c53f9b6.5aa218","name":"switch message flow depending on holiday time","info":"","x":500,"y":360,"wires":[]},{"id":"c308773d.5470d8","type":"comment","z":"4c53f9b6.5aa218","name":"change flow by displayed element","info":"","x":670,"y":560,"wires":[]},{"id":"4928650e.2bf8ac","type":"comment","z":"4c53f9b6.5aa218","name":"virtual Output","info":"","x":890,"y":140,"wires":[]},{"id":"eb20ab7d.7e1408","type":"comment","z":"4c53f9b6.5aa218","name":"virtual Output","info":"","x":890,"y":340,"wires":[]},{"id":"2b3580bb.602f1","type":"comment","z":"4c53f9b6.5aa218","name":"virtual Output","info":"","x":890,"y":540,"wires":[]},{"id":"48e870af.6aab","type":"comment","z":"4c53f9b6.5aa218","name":"Date/Time evaluation Example","info":"","x":180,"y":60,"wires":[]},{"id":"7bbff53d.a75e5c","type":"comment","z":"4c53f9b6.5aa218","name":"Description in HERE","info":"With the inject nodes at the beginning (as virtual input) and the debug nodes at the end (as virtual output), the flows are steered in a certain direction with corresponding day/time evaluation nodes, as well as \"switches\", or upgraded with \"time data\".<br><br>\n<ins>This solution is suitable for individual broadcast triggering depending on time, weekdays, holidays, also in combination with cron jobs.</ins>\n\nHint: You need \"light-scheduler-filter\", \"node-red-contrib-holiday\" and \"node-red-contrib-german-holidays\" to be installed, to use this example.","x":410,"y":60,"wires":[]},{"id":"ef0e6db8.c4d4c","type":"comment","z":"4c53f9b6.5aa218","name":"Use-Case description in HERE","info":"These examples can be used for time-based flow evaluations. For example, a flow can take a different route if there is nobody in the office on a holiday, or \"messages\" can be removed as \"ok\" because they occurred in a \"normal\" period and not in a \"monitoring period\".","x":650,"y":60,"wires":[]},{"id":"f24872cc.03477","type":"light-scheduler-settings","name":"tetronik GmbH","latitude":"50.1523609","longitude":"8.1917341"}]