examples/Example 06 - Dashboard.json
[{"id":"d9697ca0.a93ad","type":"function","z":"c44b682.d969998","name":"Create table in context - LOG","func":"let list_log = [];\nflow.set(\"list_log\", list_log);\nreturn msg;","outputs":"1","noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":200,"wires":[[]]},{"id":"9f15c9c9.32b888","type":"inject","z":"c44b682.d969998","name":"Create virtual tables","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"str","x":180,"y":200,"wires":[["d9697ca0.a93ad","3fb9848c.2f8c1c"]]},{"id":"58d4863d.f74c08","type":"function","z":"c44b682.d969998","name":"Add word to scrolling table","func":"let pay = msg.payload;\n\n// Read scrolling table from context\nlet list_log = flow.get(\"list_log\");\n\n// Modify scrolling table by adding msg.payload as first element\nlet size = list_log.unshift(pay);\n\n// Remove last element from scrolling table\nif (size >500) list_log.pop();\n\n// Update context for scrolling text\nflow.set(\"list_log\",list_log);\n\n// Shalow copy updated scrolling table to msg.payload\nmsg.payload = [...list_log];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":400,"wires":[["a2146fcb.82302"]]},{"id":"72470b6b.9a07c4","type":"inject","z":"c44b682.d969998","name":"Test 1 - NORMAL","props":[{"p":"payload"},{"p":"level","v":"NORMAL","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Testmessage 1","payloadType":"str","x":160,"y":340,"wires":[["b672d549.978488"]]},{"id":"6fc7ce8b.38e54","type":"inject","z":"c44b682.d969998","name":"Test 2 - INFO","props":[{"p":"payload"},{"p":"level","v":"INFO","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Testmessage 2","payloadType":"str","x":150,"y":380,"wires":[["b672d549.978488"]]},{"id":"dee04d86.e22d2","type":"inject","z":"c44b682.d969998","name":"Test 3 - ERROR","props":[{"p":"payload"},{"p":"level","v":"ERROR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Testmessage 3","payloadType":"str","x":160,"y":420,"wires":[["b672d549.978488"]]},{"id":"a0756823.04f1a8","type":"inject","z":"c44b682.d969998","name":"Test 4 - ALARM","props":[{"p":"payload"},{"p":"level","v":"ALARM","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Testmessage 4","payloadType":"str","x":160,"y":460,"wires":[["b672d549.978488"]]},{"id":"3fb9848c.2f8c1c","type":"function","z":"c44b682.d969998","name":"Create table in context - ERROR","func":"let list_error = [];\nflow.set(\"list_error\", list_error);\nreturn msg;","outputs":"1","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":240,"wires":[[]]},{"id":"f8b325a1.904eb8","type":"function","z":"c44b682.d969998","name":"Add word to scrolling table","func":"let pay = msg.payload;\n\n// Read scrolling table from context\nlet list_error = flow.get(\"list_error\");\n\n// Modify scrolling table by adding msg.payload as first element\nlet size = list_error.unshift(pay);\n\n// Remove last element from scrolling table\nif (size >500) list_error.pop();\n\n// Update context for scrolling text\nflow.set(\"list_error\",list_error);\n\n// Shalow copy updated scrolling table to msg.payload\nmsg.payload = [...list_error];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":500,"wires":[["da7b734a.0257a"]]},{"id":"b672d549.978488","type":"function","z":"c44b682.d969998","name":"","func":"function addZero(i) {\n  if (i < 10) {\n    i = \"0\" + i;\n  }\n  return i;\n}\n\nfunction fillUntilNine(value) {\n    for(var i = value.length; i < 10; i++) {\n        value = value + \" \";\n    }\n    return value;\n}\n\nvar date = new Date();\nvar day = addZero(date.getDate());\nvar month = addZero(date.getMonth() + 1);\nvar year = date.getFullYear();\nvar hour = addZero(date.getHours());\nvar minute = addZero(date.getMinutes());\nvar second = addZero(date.getSeconds());\nvar d_text = \"\" + day + \".\" + month + \".\" + year + \" \" + hour + \":\" + minute + \":\" + second + \"\";\n\nmsg.payload = \"\" + d_text + \" \" + fillUntilNine(msg.level) + \"\" + msg.payload + \"\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":400,"wires":[["58d4863d.f74c08","e3795995.95e838"]]},{"id":"e3795995.95e838","type":"switch","z":"c44b682.d969998","name":"On \"ERROR\" or \"ALARM\"","property":"level","propertyType":"msg","rules":[{"t":"eq","v":"ERROR","vt":"str"},{"t":"eq","v":"ALARM","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":500,"wires":[["f8b325a1.904eb8"],["f8b325a1.904eb8"]]},{"id":"f5baaba9.99e6e8","type":"t-daks log","z":"c44b682.d969998","name":"","log":"","console":false,"x":160,"y":580,"wires":[["b672d549.978488"]]},{"id":"a2146fcb.82302","type":"ui_template","z":"c44b682.d969998","group":"17393e57.cfe3a2","name":"SVG based template","order":0,"width":"12","height":"12","format":"<svg height=\"{{(msg.payload.length * 20)+20}}\" width=\"100%\" overflow=\"initial\">\n    <text id=\"log-text\" ng-repeat=\"line in msg.payload track by $index\" x=\"10\" ng:attr:y=\"{{($index * 20)+20}}\" >\n        {{line}}\n    </text>\n</svg>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1000,"y":400,"wires":[[]]},{"id":"da7b734a.0257a","type":"ui_template","z":"c44b682.d969998","group":"17393e57.cfe3a2","name":"SVG based template","order":1,"width":"12","height":"12","format":"<svg height=\"{{(msg.payload.length * 20)+20}}\" width=\"100%\" overflow=\"initial\" style=\"background: #ff8080;\">\n    <text id=\"log-text\" ng-repeat=\"line in msg.payload track by $index\" x=\"10\" ng:attr:y=\"{{($index * 20)+20}}\" >\n        {{line}}\n    </text>\n</svg>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1000,"y":500,"wires":[[]]},{"id":"ea67020a.4a649","type":"ui_template","z":"c44b682.d969998","group":"","name":"","order":1,"width":0,"height":0,"format":"<style>\n\n    #log-text {\n        font-size: 12pt;\n        font-family: 'Courier New';\n        white-space: pre-wrap;\n    }\n    \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":800,"y":200,"wires":[[]]},{"id":"e016b895.3b9728","type":"comment","z":"c44b682.d969998","name":"virtual Input for UI-testing","info":"","x":190,"y":300,"wires":[]},{"id":"7f4fd59b.a4408c","type":"comment","z":"c44b682.d969998","name":"Log-Input, to collect tetronik-logs","info":"","x":210,"y":540,"wires":[]},{"id":"40861200.56f9e","type":"comment","z":"c44b682.d969998","name":"message preperation","info":"","x":500,"y":360,"wires":[]},{"id":"af906f66.1d4f1","type":"comment","z":"c44b682.d969998","name":"push data to virtual tables","info":"","x":750,"y":360,"wires":[]},{"id":"bd5ff819.f6eac8","type":"comment","z":"c44b682.d969998","name":"display ERROR and ALARM logs in second table","info":"","x":580,"y":460,"wires":[]},{"id":"661ddaa2.b83aa4","type":"comment","z":"c44b682.d969998","name":"display table with content","info":"","x":1010,"y":360,"wires":[]},{"id":"1ed13abb.ab2965","type":"comment","z":"c44b682.d969998","name":"virtual Input for AutoStart","info":"","x":170,"y":160,"wires":[]},{"id":"c6baac0a.eb568","type":"comment","z":"c44b682.d969998","name":"create virtual tables","info":"","x":390,"y":160,"wires":[]},{"id":"50a2a4b7.302c3c","type":"comment","z":"c44b682.d969998","name":"set UI template","info":"","x":820,"y":160,"wires":[]},{"id":"de064d9b.a8556","type":"comment","z":"c44b682.d969998","name":"Dashboard Example/Template","info":"","x":180,"y":60,"wires":[]},{"id":"34a6246.2515ddc","type":"comment","z":"c44b682.d969998","name":"Description in HERE","info":"A dashboard solution that only needs to be connected with the appropriate tetronik log-connector.\n\nHint: You need \"node-red-dashboard\" to be installed, to use this example.","x":410,"y":60,"wires":[]},{"id":"b277cede.c4a77","type":"comment","z":"c44b682.d969998","name":"Use-Case description in HERE","info":"With this dashboard template logs, which are normally only written to an external database, can be displayed in NodeRed in parallel. The advantage over the web debug console is that the last 'n' entries are always available and the visual logging does not just start when the web application is started. Another advantage of this template is that there is an additional column for the \"important\" log entries, so that they can be noticed immediately and can be viewed together.<br>\nThe demo template of the dashboard has a maximum of 500 entries. After reaching this number, the oldest entries will be overwritten.","x":650,"y":60,"wires":[]},{"id":"17393e57.cfe3a2","type":"ui_group","name":"Default","tab":"642bdd17.3e2f34","order":1,"disp":true,"width":"12","collapse":false},{"id":"642bdd17.3e2f34","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]