examples/Example 05 - Logging to Databases.json
[{"id":"229df536.806e5a","type":"inject","z":"c5e689a8.09df28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":320,"wires":[["3a7594f4.163fac"]]},{"id":"fc1bc3bb.4806d","type":"inject","z":"c5e689a8.09df28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":640,"wires":[["12555635.6358ca"]]},{"id":"6ecad200.8ff91","type":"t-daks log","z":"c5e689a8.09df28","name":"","log":"e9b6f512.aa2498","console":false,"x":300,"y":400,"wires":[["3dae6340.63bd7c","81fe1198.4a859","bef45c5.b731aa","a624e54.33ea018"]]},{"id":"95941f5b.9b46b","type":"syslog-node","z":"c5e689a8.09df28","name":"","level":"6","category":"1","process":"Node-RED","pid":"0","hostname_mode":"automatic","hostname":"","x":730,"y":480,"wires":[["7c1abe3f.aa70d"]]},{"id":"7c1abe3f.aa70d","type":"udp out","z":"c5e689a8.09df28","name":"","addr":"","iface":"","port":"514","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":940,"y":480,"wires":[]},{"id":"bef45c5.b731aa","type":"MSSQL","z":"c5e689a8.09df28","mssqlCN":"","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"INSERT INTO test_log (message, location, level) VALUES (\"{{payload}}\", \"{{location}}\", \"{{level}}\");","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":580,"y":400,"wires":[["59e73c8f.b910b4"]]},{"id":"8ec67df2.d8b56","type":"mysql","z":"c5e689a8.09df28","mydb":"","name":"","x":690,"y":320,"wires":[["cfa6fd20.7d6b"]]},{"id":"eb5bf8dc.f9a8b8","type":"influxdb out","z":"c5e689a8.09df28","influxdb":"","name":"","measurement":"","precision":"","retentionPolicy":"","x":940,"y":240,"wires":[]},{"id":"829381ce.99d8a","type":"mailer","z":"c5e689a8.09df28","name":"","transport":"{\n   \"host\": \"host\",\n   \"port\": 465,\n   \"secure\": true,\n   \"auth\": {\n       \"user\": \"user\",\n       \"pass\": \"password\"\n   }\n}","x":930,"y":640,"wires":[]},{"id":"cfa6fd20.7d6b","type":"debug","z":"c5e689a8.09df28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":320,"wires":[]},{"id":"59e73c8f.b910b4","type":"debug","z":"c5e689a8.09df28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":400,"wires":[]},{"id":"12555635.6358ca","type":"change","z":"c5e689a8.09df28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Hello World content...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":640,"wires":[["ec404c5b.04891"]]},{"id":"3a7594f4.163fac","type":"change","z":"c5e689a8.09df28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Test Log-Message. Hello World!","tot":"str"},{"t":"set","p":"level","pt":"msg","to":"WARNING","tot":"str"},{"t":"set","p":"location","pt":"msg","to":"Test-Location","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":320,"wires":[["3dae6340.63bd7c","81fe1198.4a859","bef45c5.b731aa","a624e54.33ea018"]]},{"id":"ec404c5b.04891","type":"template","z":"c5e689a8.09df28","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"from\":\"sender@example.com\",\"to\":\"receiver@example.com\",\"subject\":\"Testmessage from NodeRED\",\"text\":\"This is a HTML-Message\",\"html\":\"<p>{{payload}}</p>\"}","output":"json","x":560,"y":640,"wires":[["829381ce.99d8a"]]},{"id":"81fe1198.4a859","type":"template","z":"c5e689a8.09df28","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO test_log (message, location, level) VALUES (\"{{payload}}\", \"{{location}}\", \"{{level}}\");","output":"str","x":560,"y":320,"wires":[["8ec67df2.d8b56"]]},{"id":"5e320792.564028","type":"change","z":"c5e689a8.09df28","name":"","rules":[{"t":"set","p":"measurement","pt":"msg","to":"LOGGING","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":240,"wires":[["eb5bf8dc.f9a8b8"]]},{"id":"3dae6340.63bd7c","type":"template","z":"c5e689a8.09df28","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{level}} at {{location}}: {{payload}}","output":"str","x":560,"y":240,"wires":[["5e320792.564028"]]},{"id":"a624e54.33ea018","type":"change","z":"c5e689a8.09df28","name":"","rules":[{"t":"change","p":"level","pt":"msg","from":"INFO","fromt":"str","to":"6","tot":"num"},{"t":"change","p":"level","pt":"msg","from":"WARNING","fromt":"str","to":"4","tot":"num"},{"t":"change","p":"level","pt":"msg","from":"ERROR","fromt":"str","to":"3","tot":"num"},{"t":"change","p":"level","pt":"msg","from":"CRITICAL","fromt":"str","to":"2","tot":"num"},{"t":"change","p":"level","pt":"msg","from":"ALARM","fromt":"str","to":"1","tot":"num"},{"t":"move","p":"level","pt":"msg","to":"syslog.level","tot":"msg"},{"t":"move","p":"location","pt":"msg","to":"syslog.process","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":480,"wires":[["95941f5b.9b46b"]]},{"id":"e5dea807.2a6e08","type":"comment","z":"c5e689a8.09df28","name":"virtual Input","info":"","x":130,"y":160,"wires":[]},{"id":"70937038.2466d","type":"comment","z":"c5e689a8.09df28","name":"Set/Get Data","info":"","x":290,"y":160,"wires":[]},{"id":"21c90569.e766ba","type":"comment","z":"c5e689a8.09df28","name":"prepare messages and send them to their log server/database","info":"","x":720,"y":160,"wires":[]},{"id":"31fa9db4.133d32","type":"comment","z":"c5e689a8.09df28","name":"Loggin Example","info":"","x":140,"y":60,"wires":[]},{"id":"814012ca.81921","type":"comment","z":"c5e689a8.09df28","name":"Description in HERE","info":"A central logging node with all verified log connections at the end with a sample conversion (i.e. sample database tables).\n\nHint: You need \"node-red-contrib-influxdb\", \"node-red-node-mysql\", \"node-red-contrib-mssql-plus\", \"node-red-contrib-syslog\" and \"node-red-contrib-nodemailer-adapter\" to be installed, to use this example.","x":330,"y":60,"wires":[]},{"id":"ec1d66b9.634608","type":"comment","z":"c5e689a8.09df28","name":"Use-Case description in HERE","info":"This example can be easily integrated into your own processes and database systems to enable central logging into different database systems (InfluxDB, MySQL, MSSQL, Syslog and SMTP). For this purpose, only the credentials and maybe database structures have to be adapted and then nothing more stands in the way of logging.","x":570,"y":60,"wires":[]},{"id":"e9b6f512.aa2498","type":"t-daks log-connector","name":"Log-Connector"}]