examples/Example 04 - Phasedetection and Overflow-Prevention.json
[{"id":"6364ddda.b3fe64","type":"rbe","z":"9466eea5.a821","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":510,"y":260,"wires":[["63dcde4d.9cb5d"]]},{"id":"c32982d2.43ce9","type":"inject","z":"9466eea5.a821","name":"Boolean: false","props":[{"p":"payload"},{"p":"extra","v":"Some extra information","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":330,"y":240,"wires":[["6364ddda.b3fe64"]]},{"id":"63dcde4d.9cb5d","type":"debug","z":"9466eea5.a821","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":260,"wires":[]},{"id":"3e441d3e.23df62","type":"inject","z":"9466eea5.a821","name":"Boolean: true","props":[{"p":"payload"},{"p":"extra","v":"Some other extra information","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":330,"y":280,"wires":[["6364ddda.b3fe64"]]},{"id":"239fe655.43acfa","type":"timeframerlt","z":"9466eea5.a821","name":"","throttleType":"count","timeLimit":"10","timeLimitType":"seconds","countLimit":"5","byresetcountLimit":0,"x":530,"y":480,"wires":[["1c98010b.d0faff"]]},{"id":"ba716200.9e502","type":"inject","z":"9466eea5.a821","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello World","payloadType":"str","x":330,"y":460,"wires":[["239fe655.43acfa"]]},{"id":"1c98010b.d0faff","type":"debug","z":"9466eea5.a821","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":480,"wires":[]},{"id":"a7bc75a.1b72788","type":"timeframerlt","z":"9466eea5.a821","name":"","throttleType":"reset","timeLimit":"5","timeLimitType":"seconds","countLimit":0,"byresetcountLimit":"5","x":530,"y":700,"wires":[["b89d3c08.e52f6"]]},{"id":"b6a84340.e0748","type":"inject","z":"9466eea5.a821","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hallo tetronik","payloadType":"str","x":330,"y":700,"wires":[["a7bc75a.1b72788"]]},{"id":"b89d3c08.e52f6","type":"debug","z":"9466eea5.a821","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":700,"wires":[]},{"id":"7867e8ed.2cb938","type":"inject","z":"9466eea5.a821","name":"Reset","props":[{"p":"reset","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":310,"y":760,"wires":[["a7bc75a.1b72788"]]},{"id":"80499e81.e60a6","type":"comment","z":"9466eea5.a821","name":"extra Info","info":"There have to be 5 messages until one comes through.\n\nHereby the **last** message comes through.\n\nAfter the 10 seconds have expired, the counter is reset.\nA reset with `msg.reset` is not possible.","x":520,"y":440,"wires":[]},{"id":"2cc155aa.b1fe8a","type":"inject","z":"9466eea5.a821","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello tetronik","payloadType":"str","x":330,"y":500,"wires":[["239fe655.43acfa"]]},{"id":"47bc1bd7.215144","type":"inject","z":"9466eea5.a821","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello World","payloadType":"str","x":330,"y":660,"wires":[["a7bc75a.1b72788"]]},{"id":"839015d2.574be8","type":"comment","z":"9466eea5.a821","name":"extra Info","info":"There must be 5 messages sent within 5 seconds.\nThen the **last** message is passed through.\n\nIf there are **NO** 5 messages within 5 seconds, the counter is reset.\n\nIn case of a successful execution a reset via `msg.reset` **MUST** be performed at the end.","x":520,"y":660,"wires":[]},{"id":"dd24278.a1d64d8","type":"comment","z":"9466eea5.a821","name":"virtual Input","info":"","x":330,"y":160,"wires":[]},{"id":"6d3bd81f.d53fe8","type":"comment","z":"9466eea5.a821","name":"Operation","info":"","x":520,"y":160,"wires":[]},{"id":"ec432714.b46a58","type":"comment","z":"9466eea5.a821","name":"virtual Output (Debug)","info":"","x":760,"y":160,"wires":[]},{"id":"dbabd2ed.c2bd9","type":"comment","z":"9466eea5.a821","name":"Phasedetection","info":"","x":140,"y":260,"wires":[]},{"id":"76546424.a734ac","type":"comment","z":"9466eea5.a821","name":"Overflow prevention A","info":"","x":120,"y":480,"wires":[]},{"id":"27a1198.bc285e6","type":"comment","z":"9466eea5.a821","name":"Overflow prevention A","info":"","x":120,"y":680,"wires":[]},{"id":"b155d0ab.3c434","type":"comment","z":"9466eea5.a821","name":"Phasedetection and Overflow-Prevention Example","info":"","x":250,"y":60,"wires":[]},{"id":"b54bd013.8327e","type":"comment","z":"9466eea5.a821","name":"Description in HERE","info":"With the inject nodes at the beginning (as virtual input) and the debug nodes at the end (as virtual output) their functionality is demonstrated with the corresponding \"limiter\" nodes in between.\n\nHint: You need \"node-red-contrib-timeframerlt\" to be installed, to use this example.","x":550,"y":60,"wires":[]},{"id":"cb14de3c.a58c","type":"comment","z":"9466eea5.a821","name":"Use-Case description in HERE","info":"This example can be used on a wide range of inputs. However, it is especially helpful for direct digital and analog inputs. This is due to the fact that during an automatic regular query or a regular push, it often happens that the same data record is sent for a while, so that the same process would be started again and again, even though it is already running. Another challenge that can be overcome is message flooding, because a limiter can be used to set the maximum number of \"messages\" to a fixed amount per time.","x":790,"y":60,"wires":[]}]