examples/Example 09 - Ping.json
[{"id":"ec10e619.7729b8","type":"ping","z":"8a494270.c8681","mode":"timed","name":"","host":"8.8.8.8","timer":"20","inputs":0,"x":330,"y":200,"wires":[["689f557.326b7ac"]]},{"id":"5d2b2851.1b5708","type":"inject","z":"8a494270.c8681","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":340,"wires":[["240cd7ea.f3ea38"]]},{"id":"240cd7ea.f3ea38","type":"ping","z":"8a494270.c8681","mode":"triggered","name":"","host":"8.8.8.8","timer":"20","inputs":1,"x":330,"y":340,"wires":[["8cecacb5.0dd1a"]]},{"id":"689f557.326b7ac","type":"debug","z":"8a494270.c8681","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":200,"wires":[]},{"id":"8cecacb5.0dd1a","type":"debug","z":"8a494270.c8681","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":340,"wires":[]},{"id":"2f4a1afb.fc3876","type":"comment","z":"8a494270.c8681","name":"virtual Output","info":"","x":570,"y":160,"wires":[]},{"id":"8c78652a.6c4978","type":"comment","z":"8a494270.c8681","name":"virtual Output","info":"","x":570,"y":300,"wires":[]},{"id":"2a5c84e4.b8a5fc","type":"comment","z":"8a494270.c8681","name":"virtual Input","info":"","x":170,"y":300,"wires":[]},{"id":"9ba3c5a3.079928","type":"comment","z":"8a494270.c8681","name":"auto-ping","info":"","x":340,"y":160,"wires":[]},{"id":"8994a345.c2d77","type":"comment","z":"8a494270.c8681","name":"triggered-ping","info":"","x":350,"y":300,"wires":[]},{"id":"208ca51d.ed2eba","type":"comment","z":"8a494270.c8681","name":"Ping Example","info":"","x":130,"y":60,"wires":[]},{"id":"6dfe1b8.8b6cee4","type":"comment","z":"8a494270.c8681","name":"Description in HERE","info":"A simple example of pinging a network device. This type of check does not necessarily means that a device is not running, but it can be used to test, for example, whether only one device has failed or whether there is a network problem.\n\nHint: You need \"node-red-node-ping\" to be installed, to use this example.","x":310,"y":60,"wires":[]},{"id":"40cbf0cd.f082a","type":"comment","z":"8a494270.c8681","name":"Use-Case description in HERE","info":"This example is very versatile. It can be used to find out if a service is even available before using resources to establish a real communication connection with it. Or it can be used for monitoring purposes, to trigger an alarm in case of a failure, if a service or even the network is no longer functional. Here the ping can be executed automatically every 'n' seconds or triggered by a previous flow.","x":550,"y":60,"wires":[]}]